/* font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Exo 2', sans-serif; */

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.sourceSansPro{
    font-family: 'Source Sans Pro', sans-serif;
}

.ptSans{
    font-family: 'PT Sans', sans-serif;
}

.muli{
    font-family: 'Muli', sans-serif;
}

.titiliumWeb{
    font-family: 'Titillium Web', sans-serif;
}

.exo2{
    font-family: 'Exo 2', sans-serif; 
}

html, body{
    height: 100%;
  }
  body { 
        background-image: url(../img/background.jpg);
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #fff;
        /* overflow: hidden; */
  }
  
  /* body { 
    background-image: url(../img/landing-background.jpg);
} */
  div, body{
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;
    
  }
  .wrapper {
    height: 100%; 
    width: 100%; 
  }
  
  body.landing
  {
      color:#fff;
  }
  .overlay {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    height:100%;
    bottom: 0; 
    display: block;
    /* position: absolute;
    background-color: rgba(0,0,0,0.1);*/
    color: #fff;
    padding: 0.5em;
  }

  #overlay-white {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    height:100%;
    bottom: 0; 
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    color: #fff;
    padding: 0.5em;
  }
  
  .logo{
      width: 150px;
      position: absolute;
      top: 20px;
      left: 20px;
      transform: all linear 0.3s;
  }
  
  .logo img{
      width: 100%;
  }
  
  .info{
      padding: 20px 40px;
      margin: 10% auto;
      width: 90%;
      background: rgba(0,0,0,0.3);
      border-radius: 10px;
  }
  
  .info h1{
    font-family: Merriweather;
    font-size: 50px;
  }
  
  .info input[type="text"]{
      background: rgba(0,0,0,0.5);
      border: none;
      padding: 20px;
      border-radius: 5px;
  }
  
  .info .input-group-text{
      background: #0c5a6b;
      color: #fff;
      border: none !Important;
  }
  
  .info .input-group-text:hover{
      cursor: pointer;
  }
  
  .content-footer{
      position: fixed;
      bottom: 10px;
      width: 100%;
      padding: 0 20px;
      color:#0e0e0e;
  }
  
  ul{
      list-style: none;
      width: 600px;
      display: inline;
  }
  
  ul li{
      display: inline;
      margin: 0 5px;
      /* border-left: 1px solid #fff; */
      padding-left: 10px;
  }
  
  ul li:first-child{
      border-left: none;
  }
  
  ul li a{
      color: #000;
      font-size: 1vw;
      text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }

  ul li a:hover{
      text-decoration: none;
      color: #000;
      font-weight:700;
  }
  
  

  ul li.active a{
      color: #0c5a6b !important;
      font-weight:700;
  }
  
  .content-footer .disclosure{
      float: right;
  }
  
  .disclosure p{
      font-size: 12px;
  }
  
  
  #prime-content{
      min-width: 90%;
      min-height: 150px;
      opacity: .9;
  }

  .hoarding{
      padding-top:20px;
      width: 100%;
      display: inline-block;
  }

  .hoarding img{
      height:150px;
      display: block;
      margin: 0 auto;
  }


  #product-collection
  {
      color:#000 !important;
  }

  #product-collection ul li {
      list-style: none;
      border:1px solid transparent;
  }

  #product-collection .image-block{
    border-right:1px solid #ccc;
      }
      #product-collection .image-block-left{
        border-left:1px solid #ccc;
          }
  #product-collection .card-block{
padding:15px;
  }

.title-weight{
    font-weight: 900;
    font-size: 26px;
    color: #0c5a6b !important
}